/* Grundlegende Stile */

:root {
    background-color: rgb(108, 39, 98);
}

main {
    max-width: 75%;
    margin: 6vw auto;
    padding: 2vw;
    background: rgb(182, 58, 165);
    background: linear-gradient(45deg, rgb(80, 21, 71) 0%, rgb(155, 53, 140) 100%);
    border-radius: 1vw;
}

body {
    box-sizing: border-box;
    line-height: 1.6;
}

a {
    color: var(--jordy-blue); /* Links besser sichtbar */
}

h1, h2 {
    text-shadow: 3px 3px #000000FF;
}

.sub-section {
    border-top: 0.1rem solid #fff; /* Trennlinie */
    margin: 2vw auto;
}


.contact-text {
    max-width: 40%;
    margin: 2vw auto;
}

/* Content und Bild styling */
.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertikales Zentrieren */
}

.section-img img {
    max-width: 100%;
    height: auto;
}

.section-img, .about-text {
    flex: 1;
    padding: 1vw;
}

.content-row .section-img {
    max-width: 25%;
}

/* Zukunftsprojekte */
#future-projects {
    display: flex;
    justify-content: space-between;
}

.future-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5vw;
    margin-top: 2vw;
}

.future-img img {
    width: 10vw;
    height: auto;
    aspect-ratio: 1 / 1; /* Bilder quadratisch */
}

/* Interaktives Design Zukunftsprojekte */
.img-box {
    position: relative;
}


.img-box .overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(100, 73, 179, 0.73); /* Farbe mit Transparenz */
    color: white; /* Textfarbe */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Unsichtbar bis zum Hover */
    transition: opacity 0.3s ease; /* Glatter Übergang */
}

/* Down normal nicht anzeigen */
.arrow-down {
    opacity: 0;
}

.img-box:hover .overlay-text {
    opacity: 1; /* Sichtbar beim Hover */
}

/* Styling vom iFrame */
.section-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling vom Kontaktformular */

.form-group {
    margin-bottom: 1vw;
}

.form-group label {
    display: block;
    margin-bottom: 0.5vw;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1vw;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex-basis: 48%; /* Passt die Breite der zwei Spalten an */
}

textarea {
    height: 10vw;
    resize: none;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 2vw 3vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* Responsive Design */
/* Tablet */
@media only screen and (max-width: 991px) {
    /* Anpassungen für Tablet-Ansichten */
    /* Für künftige Anpassungen :) */
}

/* Mobil */
@media only screen and (max-width: 767px) {
    /* Anpassungen für mobile Ansichten */
    main {
        max-width: 90%;
    }

    .content-row {
        flex-direction: column;
    }

    .content-row .section-img {
        max-width: 100%;
        margin: 0 auto;
    }

    .contact-text {
        max-width: 80%;
    }

    #future-projects {
        flex-direction: column; /* Untereinander anzeigen */
    }

    .future-img {
        grid-template-columns: 1fr; /* Eine Spalte für die Bilder */
        margin: 0 auto; /* Zentrieren */
    }

    .future-img img {
        width: 100%; /* Grösser erlauben (da Bilder nacheinander)*/
    }

    /* Andere Pfeile bei kleiner Bildschirmgrösse */
    .arrow-down {
        opacity: 1;
    }

    .arrow-right {
        opacity: 0;
    }

    /* EasterEgg ausblenden mobile */
    #easter-egg {
        display: none;
    }

}

/**********************************************/
/* Easter Egg :-) */
#easter-egg {
    position: absolute;
    top: 5vw;
    right: 1vw;
    width: 3vw;
    height: auto;
    cursor: pointer;
}

#easter-egg-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(82, 17, 66);
    padding: 15vw;
    border-radius: 1vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Sicherstellen, dass es über anderen Inhalten liegt */
}

#easter-egg-button {

    background-color: #4CAF50;
    color: white;
    padding: 2vw 3vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}