:root {
    background-color: rgb(108, 39, 98);
}

main {
    max-width: 70%;
    margin: 6vw auto;
    padding: 20px;
    background: rgb(182, 58, 165);
    background: linear-gradient(45deg, rgb(80, 21, 71) 0%, rgb(155, 53, 140) 100%);
    border-radius: 1vw;
}