footer {
    border-top: 0.1rem solid #fff;
    width: 100%;
    bottom: 0;
    background-color: #3c2d70;
    padding-bottom: 1vw;
}

footer h1 {
    margin-bottom: 0;
}

footer .footer-title h2 {
    color: #fff;
}

.section-title img {
    width: 2vw;
    height: auto;
}

.section-title p {
    font-size: max(2vw, 12px);
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 10vw;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section strong {
    color: #fff;
}

.footer-section a {
    color: var(--jordy-blue);
}

.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5vw;
        height: auto;
    }

    .section-title img {
        width: 5vw;
    }

    .section-title p {
        font-size: 2em;
    }

}