html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

main {
    margin-top: 5vw;
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-banner {
    position: relative;
    padding: 1vw 2vw;
    background-color: #6449b3;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #3c2d70;
    border-color: #222222;
}

.index-banner a {
    color: var(--jordy-blue);
}

.start-page {
    position: relative;
    text-align: center;
}

.start-page img {
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}