:root {
    background-color: #3c2d70;
}

main {
    margin-top: 4.5vw;
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-button {
    position: relative;
    padding: 1vw 2vw;
    background-color: #6449b3;
    border-radius: 1vw;
    box-shadow: 5px 5px 5px #3c2d70;
    border-color: #222222;
}

.index-button a {
    color: white; /* Link weiss */
}

/* Button style on Hover */
.index-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #fa07ca;
    transition: all 0.3s ease 0s;
}

.start-page {
    position: relative;
    text-align: center;
}

.start-page img {
    width: 100%;
    height: 100%;
    min-width: 1000px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-box {
    max-width: 80%;
    min-width: 15rem;
    margin: 2vw 2vw;
    color: white;
    background-color: #6449b3;
    box-shadow: 5px 5px 5px #3c2d70;
    border-radius: 1vw;
    padding: 2vw;
}