header {
    height: 4vw;
    background-color: var(--rich-black);
    padding-top: 0.5vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}

nav ul li a:hover {
    color: #6449b3;
    background-color: var(--rich-black);
    border-bottom: 2px solid #3c2d70;
}

.team-hover {
    position: relative;
}

.team-hover .team-submenu {
    display: none;
    position: absolute;
    background-color: var(--rich-black);
    list-style: none;
    padding: 0;
    top: 100%;
    left: 0;
}

.team-hover:hover .team-submenu {
    display: block;
}

.team-submenu li {
    display: block;
    margin: 0;
    padding: 10px;
}

.team-submenu li a {
    color: #fff;
    text-decoration: none;
}

.team-submenu li a:hover {
    color: #6449b3;
}