:root {
    background-color: rgb(108, 39, 98);
}

main {
    max-width: 70%;
    margin: 6vw auto;
    padding: 20px;
    background: rgb(182, 58, 165);
    background: linear-gradient(45deg, rgb(80, 21, 71) 0%, rgb(155, 53, 140) 100%);
    border-radius: 1vw;
}

.main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; /* Zentriert den Container */
    box-sizing: border-box;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-container {
    flex: 1;
    box-sizing: border-box;
    min-width: 30%; /* Minimale Breite für die inneren Container */
    margin: 0.5vw;
}

/* Chicken Bilder styling */
.product-image {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scaleX(-1);
}

.hero-section {
    text-align: center;
    padding: 0;
}

.feature-icon {
    width: 5vw;
    height: auto;
}

.testimonials-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.testimonial {
    flex-basis: 45%;
    margin: 1vw auto;
    border: 1px solid #ddd;
    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(215, 168, 0);
}

.cta-button {
    background-color: rgb(215, 168, 0);
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.4vw 0.2vw;
    cursor: pointer;
    border-radius: 1vw;
}

.product-layout {
    display: flex;
    align-items: flex-start;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-features {
    list-style: none; /* Entfernt Standard-Bullet-Points */
    padding: 0;
    margin: 2vw 0;
    text-align: left; /* Macht den Text linksbündig */
}

.product-features li {
    padding-left: 2vw; /* Stellt Platz für das Emoji bereit */
    position: relative;
    margin-bottom: 1vw;
    font-size: 16px; /* Passen Sie die Schriftgrösse nach Bedarf an */
}

.product-features li:before {
    content: '🐔'; /* Hühner-Emoji als Bullet-Point */
    position: absolute;
    left: 0;
    top: 0;
}


/* Media Queries */

/* Mobil */
@media only screen and (max-width: 767px) {
    main {
        max-width: 100%;
        padding: 10px;
    }

    .sub-container, .inner-container {
        flex-direction: column;
    }

    .testimonial {
        flex-basis: 100%;
    }

    .product-features li {
        font-size: 14px; /* Etwas kleinere Schrift für kleinere Bildschirme */
    }
}

/* Tablet */
@media only screen and (max-width: 991px) {
    .main-container {
        max-width: 90%;
        padding: 4vw;
    }

    .sub-container {
        flex-direction: row;
    }

    .testimonial {
        margin: 1vw;
        padding: 2vw;
    }

}

/* Desktop */
@media only screen and (max-width: 1289px) {
    .main-container {
        max-width: 80%;
        padding: 2vw;
    }

    .sub-container {
        justify-content: space-around;
    }

    .testimonial {
        margin: 1vw;
        padding: 1vw;
    }
}

