:root {
    --rich-black: #171a21ff;
    --paynes-gray: #617073ff;
    --air-superiority-blue: #7a93acff;
    --jordy-blue: #92bceaff;
    --periwinkle: #afb3f7ff;

    background-color: var(--paynes-gray);
}

html body {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    overflow: auto;
    font-family: Nunito, Arial, Helvetiva, sans-serif, sans-serif;
}

main {
    margin-top: 5rem;
}

.flex-container {
    height: calc(100vh - 4rem);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 15vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-banner {
    position: relative;
    top: -2rem;
    background-color: #6449b3;
    width: 80%;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #3c2d70;
    border-color: #222222;
}