html, body {
    overflow-y: auto;
    max-width: 100%;
}

#team-members {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    margin-bottom: 2vw;
    gap: 1vw;
}

.team-member {
    flex: 1;
    max-width: calc(25% - 1rem);
    text-align: center;
    position: relative;
    background-color: var(--air-superiority-blue);
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.team-member-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.team-member img {
    position: absolute;
    top: 0;
    left: 0;
}

.team-member-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: bottom 0.5s;
    background-color: #6449b3;
    max-height: 75%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.team-member-info::-webkit-scrollbar {
    display: none;
}

.team-member-info .title {
    order: 1;
    position: relative;
    z-index: 2;
}

.team-member-info .description {
    order: 2;
    position: absolute;
    width: 100%;
    top: 3rem;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
    background-color: #6449b3;
    margin-bottom: 2vw;
}

.description-text {
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}

.team-member:hover .team-member-info .description {
    top: 2vw;
    opacity: 1;
}

.team-member:hover .team-member-info .title {
    text-decoration: underline;
}

#team-description {
    padding: 2vw;
    border-top: 0.1rem solid #fff;
}

@media (max-width: 767px) {
    #team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 100%;
        max-width: 80%;
        box-sizing: border-box;
        margin-bottom: 5vw;
        height: auto;
    }
}
