:root {
    background-color: rgb(108, 39, 98);
}

main {
    max-width: 90%;
    margin: 6vw auto;
    padding: 20px;
    background: rgb(182, 58, 165);
    background: linear-gradient(45deg, rgb(80, 21, 71) 0%, rgb(155, 53, 140) 100%);
    border-radius: 1vw;
}

html, body {
    overflow-y: auto;
    max-width: 100%;
}

#team-members {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    margin-bottom: 2vw;
    gap: 1vw;
}

.team-member {
    flex: 1;
    max-width: calc(25% - 1rem);
    text-align: center;
    position: relative;
    background-color: var(--air-superiority-blue);
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}


.team-member-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.team-member img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.team-member .team-member-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(100, 73, 179, 0.73); /* Farbe mit Transparenz */
    color: white; /* Textfarbe */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Unsichtbar bis zum Hover */
    transition: opacity 0.3s ease; /* Glatter Übergang */
}

.team-member-info {
    flex-direction: column;
}

.team-member .title {
    /* Stile für den Titel */
    margin-bottom: 1vw; /* Abstand zwischen Titel und Beschreibung */
}

.team-member:hover .team-member-info {
    opacity: 1; /* Sichtbar beim Hover */
}

#team-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    border-top: 0.1rem solid #fff;
    border-bottom: 0.1rem solid #fff;
    margin: 0 auto;
}

.team-main-box {
    padding: 2vw;
}

.all-member-boxes {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px) {
    main {
        max-width: 100%;
    }

    #team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 100%;
        max-width: 80%;
        box-sizing: border-box;
        margin-bottom: 5vw;
        height: auto;
    }

    .all-member-boxes {
        flex-direction: column;
    }
}
