/* Allgemeine Styles für alle Bildschirmgrössen */
main {
    margin-top: 4vw;
}

h1 {
    color: black;
    font-size: 2.5em; /*40px/16=2.5em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

h2 {
    color: black;
    font-size: 1.75em; /*28px/16=1.75em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

label {
    color: white;
    font-size: 1.125em; /*18px/16=1.125em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

strong {
    color: black;
    font-size: 1.5em; /*24px/16=1.5em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

div {
    background-color: #617073ff;
    top: 10vw;
}

p {
    font-family: "American Typewriter", "Times New Roman", sans-serif;
    font-size: 18px;
}

/*Standardeinstellungen*/

.abschnitt1 {
    max-width: 1200px;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-top: 20%;
}

.abschnitt11 {
    max-width: 1200px;
    margin-left: 350px;
}

.abschnitt12 {
    max-width: 1200px;
    margin-right: 400px;
    margin-left: 100px;
}

.page-title h1 {
    margin-top: 7.5rem;
}

.abschnitt2 {
    max-width: 1200px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50%;
}

.abschnitt21 {
    max-width: 1200px;
    margin-left: 400px;
    margin-right: 100px;
}

.abschnitt22 {
    max-width: 1200px;
    margin-right: 350px;
}

.abschnitt3 {
    max-width: 1200px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 35%;
    margin-left: 340px;
    margin-right: 340px;
}

.lastAbschnitt {
    max-width: 1200px;
    margin: 10% auto 5% auto;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Media Queries für Widescreen-Grössen (Bildschirmbreite ab 1200px) */
@media (min-width: 1200px) {

   main {
        margin-top: 5vw;
    }
    
    /*.abschnitt1 {
        margin-top: 7%;
    }

       .abschnitt2 {
        margin-top: 22%;
    }

    .abschnitt3 {
        margin-top: 18%;
    }*/
}

/* Media Queries für Tablet-Grössen (Bildschirmbreite bis 768px) */
@media only screen and (max-width: 768px) {

}

/* Media Queries für Smartphone-Grössen (Bildschirmbreite bis 480px) */
@media only screen and (max-width: 480px) {

/*.abschnitt1 {
    display: none;
    margin-top: 20%;
}


.abschnitt2 {
    display: none;
    margin-top: 50%;
}*/

}