/*Stylesheet*/
:root {
    --rich-black: #171a21ff;
    --paynes-gray: #617073ff;
    --air-superiority-blue: #7a93acff;
    --jordy-blue: #92bceaff;
    --periwinkle: #afb3f7ff;

    background-color: var(--paynes-gray);
}

html body {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*html {
    overflow: auto;
    font-family: Nunito, Arial, Helvetiva, sans-serif, sans-serif;
}*/

main {
    margin-top: 6vw;
}

.content {
    height: 15vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Navigation*/
header {
    height: 4vw;
    background-color: var(--rich-black);
    padding-top: 0.5vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;*/
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

nav ul li a:hover {
    color: #fff;
    background-color: var(--rich-black);
    border-bottom: 2px solid #3c2d70;
}

.team-hover {
    position: relative;
}

.team-hover .team-submenu {
    display: none;
    position: absolute;
    background-color: var(--rich-black);
    list-style: none;
    padding: 0;
    top: 100%;
    left: 0;
}

.team-hover:hover .team-submenu {
    display: block;
}

.team-submenu li {
    display: block;
    margin: 0;
    padding: 10px;
}

.team-submenu li a {
    color: #fff;
    text-decoration: none;
}

.team-submenu li a:hover {
    color: #6449b3;
}


/*Urs*/
main {
    margin-top: 4vw;
    /*background-color: #617073ff*/;
}

h1{
    color:rgb(230, 14, 14);
}

h2{
    color:brown;
}

h3{
    color: brown;
}

h4{
    color: brown;
    font-style: bold;
}

div{
    background-color: #617073ff;
    /*position: absolute;*/
    top: 10vw;
}

p {
    font-size: 18px;
}

.abschnitt1{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-top: 20%;
}


.abschnitt11 {
    margin-left: 350px;
}

.abschnitt12 {
    margin-right: 400px;
    margin-left: 100px;
}

.zuBearbeiten{
    margin-top: 50%;
}

.page-title h1{
    margin-top: 7.5rem;
}

.abschnitt2{
    display: inline-block;
    vertical-align: middle;
    margin-top: 50%;
}

.abschnitt21 {
    margin-left: 400px;
    margin-right: 100px;
}

.abschnitt22 {
    margin-right: 350px;
}

.abschnitt3 {
    margin-top: 35%;
    margin-left: 340px;
    margin-right: 340px;
}

.lastAbschnitt {
    margin-top: 10%;
}