/*Urs*/
main {
    margin-top: 4vw;
    /*background-color: #617073ff*/;
}

h1 {
    color: black;
    font-size: 2.5em; /*40px/16=2.5em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

h2 {
    color: black;
    font-size: 1.75em; /*28px/16=1.75em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

/*h3 {
    color: black;
    font-size: 1.75em; /*28px/16=1.75em*/
    /*font-family: "Luminari", "Times New Roman", sans-serif;
}*/

label {
    color: white;
    font-size: 1.125em; /*18px/16=1.125em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

strong {
    color: black;
    font-size: 1.5em; /*24px/16=1.5em*/
    font-family: "Luminari", "Times New Roman", sans-serif;
}

div {
    background-color: #617073ff;
    /*position: absolute;*/
    top: 10vw;
}

p {
    font-family: "American Typewriter", "Times New Roman", sans-serif;
    font-size: 18px;
}

.abschnitt1 {
    max-width: 1200px;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-top: 20%;
}


.abschnitt11 {
    max-width: 1200px;
    margin-left: 350px;
}

.abschnitt12 {
    max-width: 1200px;
    margin-right: 400px;
    margin-left: 100px;
}

.zuBearbeiten {
    margin-top: 50%;
}

.page-title h1 {
    margin-top: 7.5rem;
}

.abschnitt2 {
    max-width: 1200px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50%;
}

.abschnitt21 {
    max-width: 1200px;
    margin-left: 400px;
    margin-right: 100px;
}

.abschnitt22 {
    max-width: 1200px;
    margin-right: 350px;
}

.abschnitt3 {
    max-width: 1200px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 35%;
    margin-left: 340px;
    margin-right: 340px;
}

.lastAbschnitt {
    max-width: 1200px;
    margin: 10% auto 5% auto;
}